# deploys to production when a release is published
name: Deploy to Production
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
    # Build job
    build:
        runs-on: ubuntu-latest
        environment: prod
        concurrency:
          group: ${{github.workflow}} - ${{github.ref}}

        env:
          DART_SASS_VERSION: 1.97.3
          GO_VERSION: 1.25.6
          HUGO_VERSION: 0.155.0
          NODE_VERSION: 24.13.0
          TZ: Europe/Oslo

        steps:
          - name: Checkout
            uses: actions/checkout@v6
            with:
              submodules: recursive
              fetch-depth: 0

          - name: Create directory for user-specific executable files
            run: |
              mkdir -p "${HOME}/.local"

          - name: Install Dart Sass
            run: |
              curl -sLJO "https://github.com/sass/dart-sass/releases/download/${DART_SASS_VERSION}/dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
              tar -C "${HOME}/.local" -xf "dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
              rm "dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz"
              echo "${HOME}/.local/dart-sass" >> "${GITHUB_PATH}"        

          - name: Install Hugo
            run: |
              curl -sLJO "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
              mkdir "${HOME}/.local/hugo"
              tar -C "${HOME}/.local/hugo" -xf "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
              rm "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
              echo "${HOME}/.local/hugo" >> "${GITHUB_PATH}"           

          - name: Verify installations
            run: |
              echo "Dart Sass: $(sass --version)"
              echo "Go: $(go version)"
              echo "Hugo: $(hugo version)"
              echo "Node.js: $(node --version)"              

          - name: Install Node.js dependencies
            run: '[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true'

          - name: Cache restore
            id: cache-restore
            uses: actions/cache/restore@v5
            with:
              path: ${{ runner.temp }}/hugo_cache
              key: hugo-${{ github.run_id }}
              restore-keys:
                hugo-

          - name: Build
            run: |
              hugo \
                --gc \
                --minify \
                --baseURL "${{ vars.BASE_URL }}/" \
                --cacheDir "${{ runner.temp }}/hugo_cache"

          - name: Cache save
            id: cache-save
            uses: actions/cache/save@v5
            with:
              path: ${{ runner.temp }}/hugo_cache
              key: ${{ steps.cache-restore.outputs.cache-primary-key }}

          - name: Upload public dir
            uses: actions/upload-artifact@v4
            with:
              name: public-artifact
              path: ./public

    # Deploy job
    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment: prod

        steps:

            - name: Download public dir
              uses: actions/download-artifact@v7
              with:
                name: public-artifact
                path: public

            - name: Configure SSH
              run: |
                mkdir -p ~/.ssh/
                echo "${{ secrets.SSH_KEY }}" > ~/.ssh/webhost.key
                chmod 600 ~/.ssh/webhost.key
                cat >>~/.ssh/config <<END
                Host webhost
                  HostName ${{ vars.SSH_HOST }}
                  User ${{ vars.SSH_USER }}
                  IdentityFile ~/.ssh/webhost.key
                  StrictHostKeyChecking no
                END

            - name: rsync public dir make sure to delete old files
              run: rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no -l ${{ vars.SSH_USER }}" ./public/ webhost:${{ vars.WEB_PATH }}/
