# deploys to production when a release is published
name: Deploy to Production
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
    # Build job
    build:
        runs-on: ubuntu-latest
        environment: prod
        concurrency:
          group: ${{github.workflow}} - ${{github.ref}}

        env:
          HUGO_VERSION: 0.155.2
        steps:
          - name: Install Brew
            shell: bash
            run: |
              export NONINTERACTIVE=1
              /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

          - name: Install dependencies
            run: |
              eval "$(/home/linuxbrew/.linuxbrew/Homebrew/bin/brew shellenv bash)"
              brew install hugo sass node

          - name: Checkout
            uses: actions/checkout@v4
            with:
              submodules: recursive
              fetch-depth: 0

          - name: Install Node.js dependencies
            run: '[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true'

          - name: Build with Hugo
            env:
              # For maximum backward compatibility with Hugo modules
              HUGO_ENVIRONMENT: production
              HUGO_ENV: production
            run: |
              hugo \
                --gc \
                --minify

          - name: Upload public dir
            uses: actions/upload-artifact@v4
            with:
              name: public-artifact
              path: public/

    # Deploy job
    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment: prod

        steps:

            - name: Download public dir
              uses: actions/download-artifact@v4
              with:
                name: public-artifact
                path: public

            - name: Set globals
              id: globals
              shell: bash
              run: |
                echo "${{ secrets.SSH_USER }}" >> "${GITHUB_OUTPUT}"
                echo "${{ secrets.SSH_HOST }}" >> "${GITHUB_OUTPUT}"

            - name: Configure SSH
              run: |
                mkdir -p ~/.ssh/
                echo "${{ secrets.SSH_KEY }}" > ~/.ssh/webhost.key
                chmod 600 ~/.ssh/webhost.key
                cat >>~/.ssh/config <<END
                Host webhost
                  HostName ${{ steps.globals.outputs.SSH_HOST }}
                  User ${{ steps.globals.outputs.SSH_USER }}
                  IdentityFile ~/.ssh/webhost.key
                  StrictHostKeyChecking no
                END

            - name: rsync public dir make sure to delete old files
              run: rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no -l ${{ steps.globals.outputs.SSH_USER }}" ./public/ ${{ steps.globals.outputs.SSH_HOST }}:${{ vars.WEB_PATH }}/
